@charset "UTF-8";

/*共通部分*/

head{
    font-size:100%;
}

body{
    font-family: "Noto Serif JP";
    line-height: 2;
    color: #ffff;
    background-color: #5E3819;

}

.align-center{
    text-align: center;
}

h1{
    padding: 10px;
    background-color:#1F2F0A ;
}

nav{
    padding: 10px;
    background-color:#404B21 ;
}

.main-nav{
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
}



div{
    text-align: center;
   
}

.example{
    position:relative;
}

.example p{
font-size: 50px;
position:absolute;
color: black;
top: 0;
left: 50%;
transform: translate(-50%,50%);
}
