
.lay {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-around;
    margin: 100px;
  }


.grid{
    display: grid;
    gap: 4rem 7rem;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
    
}

.item img{
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius:16px;

}

.item p{

    font-size:.875rem;
}



h1{
    background-color:#f2faf4;
    height: 100px;
    font-family: Noto Serif JP;
    text-align: center;
    padding:25px;
};


.item1{

        background-color: aqua;
}

/* メモ　→ページ背景を風景とかテクスチャ系の画像にしておしゃれにしたい