.grid {
    max-width: 800px; /* 必要に応じてサイズ調整 */
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr; /* 均等配置 */
    gap: 2px; /* 隙間を最小限にする */
    justify-content: center; /* 中央揃え */
    text-align: center;
    margin: 10 auto; /* 中央に配置 */
    padding: 0; /* 余分な余白をなくす */
}

.grid img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
}

.lay {
    display: flex;
    flex-direction: row;
    justify-content: center; /* 中央揃え */
    align-items: flex-start;
    gap: 10px; /* 画像と目次の間の余白 */
    margin: 50px auto;
}

/* 目次のスタイル */
.mokuji {
    width: 20%; /* 2:1 の比率 */
    padding: 20px;

}




h1{
    background-color:#f2faf4;
    height: 100px;
    font-family: Noto Serif JP;
    text-align: center;
    padding:25px;
};

